/************************************
** 投稿ナビ
************************************/
:root{
  --smtrm-card-ratio: 16/9;
}
.cf::after {
  clear: both;
  content: "";
  display: block;
}
/* PCで非表示 */
.same-term-pager .pc-none,
.same-term-part .pc-none {
  display: none;
}
/* SPで非表示 */
.same-term-pager .sp-none,
.same-term-part .sp-none {
  display: inline-block;
}
/* ページャー全体のラッパー */
.same-term-wrapper {
  display: flex;
  flex-direction: column;
  container-type:inline-size;
  container-name: pager;
  width: 100%;
  flex-wrap: nowrap;
}
/* ページャー本体 */
.same-term-pager {
  width: 100%;
  margin: 1em 0;
  padding: 0 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.article .same-term-pager,
.entry-content .same-term-pager{
  padding: 0;
}
.same-term-pager .same-term-nav-link {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  line-height: 1.2;
  font-size: 0.8em;
}
.same-term-pager figure {
  margin: 0;
}
.same-term-pager img {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: var(--smtrm-card-ratio);
  text-align: center;
  object-fit: cover;
}
/* アイコン設定 */
.same-term-icon {
  font-family: "dashicons";
  font-size: 1.6em;
  color: #333333;
  text-decoration: none;
}

/* 各種アイコン */
.same-term-icon.double-left::after {
  display: block;
  content: "\f340";
  text-align:start;
  transform: scale(0.9);
  margin-left: 2px;
}
.same-term-icon.arrow-left::after {
  display: block;
  content: "\f341";
  text-align: start;
}
.same-term-icon.arrow-right::after {
  display: block;
  content: "\f345";
  text-align: end;
}
.same-term-icon.double-right::after {
  display: block;
  content: "\f344";
  text-align: end;
  transform: scale(0.9);
  margin-right: 2px;
}
.same-term-icon.category-icon::after {
  content: "\f318";
  padding: 0 4px;
}
.same-term-icon.tag-icon::after {
  content: "\f323";
  padding: 0 4px;
}
.release-button .cancel-icon {
  padding: 0;
}
.release-button .cancel-icon::after {
  display: block;
  font-family: "dashicons";
  font-size: inherit;
  content: "\f335";
  color: inherit;
  padding: 0 1px 0 0; 
  margin: auto;
}
/* 解除ボタン */
.release-button{
  display: block;
  background-color: #666666;
  color: white;
  font-size: 12px;
  border-radius: 2px;
}
.release-button a{
  display: flex;
  align-items: center;
  background-color: inherit;
  color: inherit;
  font-size: inherit;
  border-radius: inherit;
  padding: 0 3px;
}
.release-button a:link{
  background-color: inherit;
  color: inherit;
  border-radius: inherit;
}
.release-button a:visited{
  background-color: inherit;
  color: inherit;
  border-radius: inherit;
}
.release-button a:hover{
  background-color: inherit;
  color: inherit;
  border-radius: inherit;
}
.release-button a:active{
  background-color: inherit;
  color: inherit;
  border-radius: inherit;
}
.same-term-pager .same-term-nav-link figure {
  min-width: 120px;
  max-width: 120px;
}
.same-term-pager .prev-post {
  flex: 1;
  flex-direction: row;
  margin: 0 8px;
}
.same-term-pager .next-post {
  flex: 1;
  flex-direction: row-reverse;
  margin: 0 8px;
}
.same-term-pager .prev-post-title {
  padding-left: 8px;
}
.same-term-pager .next-post-title {
  padding-right: 8px;
}
.same-term-pager .prev-post-title,
.same-term-pager .next-post-title {
  display: -webkit-box;
  overflow: hidden;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
/* 最古・最新の記事リンクのスタイル */
.same-term-pager .oldest-post{
  width: 12%;
  min-width: 10%;
  justify-content: start;
  padding: 1em 0;
}
.same-term-pager .latest-post {
  width: 12%;
  min-width: 10%;
  justify-content: end;
  padding: 1em 0;
}
/* ページャーのフィルターエリア */
.pager-filter {
  font-size: 12px;
  width:100%;
  margin-bottom:24px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}
.pager-filter a {
  text-decoration: none;
}
.same-term-message {
  display: inline-flex;
  align-items: center;
  font-size: 12px;
  margin-right: 0.4em;
  text-align: left;
}
.same-term-message span {
  display: inline-block;
}
.same-term-filter{
  margin: 0;
}

/* 単体ショートコード用 */
.same-term-part .same-term-nav-link{
  display: flex;
  font-size: 0.8em;
  text-decoration: none;
  align-items: center;
  gap: 5px;
  width: 100%;
  min-width: 100%;
}
.same-term-part .same-term-nav-link img{
  max-width: 80px;
  height: auto;
}
.same-term-part .prev-post {
  justify-content: start;
}
.same-term-part .next-post {
  flex-direction: row-reverse;
  justify-content: end;
}
.same-term-part .oldest-post {
  justify-content: start;
  text-align: start;
}
.same-term-part .latest-post {
  justify-content: end;
  text-align: end;
}
.same-term-part .prev-post-title {
  flex:1;
  display: flex;
  justify-content: end;
  margin: 0 8px 0 0;
}
.same-term-part .next-post-title {
  flex:1;
  display: flex;
  justify-content: start;
  margin: 0 0 0 8px;
}
.same-term-part .prev-post-title span {
  display: inline;
  text-align: start;
}
.same-term-part .next-post-title span {
  display: inline;
  text-align: start;
}
.same-term-part .oldest-post .same-term-icon,
.same-term-part .prev-post .same-term-icon
{
  padding: 0;
  text-align: start;
}
.same-term-part .next-post .same-term-icon,
.same-term-part .latest-post .same-term-icon
{
  padding: 0;
  text-align: end;
}
/* コンテナクエリ600px以下 */
@container pager (max-width: 600px) {
  .same-term-pager {
    flex-direction: column;
  }
  .same-term-pager .oldest-post {
    width: 100%;
    min-width: 100%;
  }
  .same-term-pager .prev-post {
    width: 100%;
    min-width: 100%;
    margin: 0;
  }
  .same-term-pager .next-post {
    width: 100%;
    min-width: 100%;
    margin: 0;
  }
  .same-term-pager .latest-post  {
    width: 100%;
    min-width: 100%;
    justify-content: flex-end;
  }
  .pager-filter {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 0 4px;

  }
  .same-term-message {
    width: 100%;
    text-align: left;
    flex: 1;
  }
  .same-term-pager .pc-none,
  .same-term-part .pc-none {
    display: inline-block;
  }
  .same-term-pager .sp-none,
  .same-term-part .sp-none {
    display: none;
  }
}
/*834px以下*/
@media screen and (max-width: 834px){
  .same-term-pager .pc-none,
  .same-term-part .pc-none {
    display: inline-block;
  }
  .same-term-pager .sp-none,
  .same-term-part .sp-none {
    display: none;
  }
  .same-term-pager {
    flex-wrap: wrap;
  }
  .same-term-pager .same-term-nav-link {
    margin: 0;
    line-height: 1;
}
  .same-term-pager .oldest-post {
    width: 100%;
    min-width: 100%;
    justify-content: flex-start;
  }
  .same-term-pager .prev-post {
    flex: 1;
    padding: 0;
  }
  .same-term-pager .next-post {
    flex: 1;
    padding: 0;
  }
  .same-term-pager .latest-post {
    width: 100%;
    min-width: 100%;
    justify-content: flex-end;
  }
}

/*480px以下*/
@media screen and (max-width: 480px) {
  .same-term-pager .same-term-nav-link figure {
    min-width: 30%;
    max-width: 30%;
  }
  .same-term-pager .prev-post-title,
  .same-term-pager .next-post-title {
    margin-left: 1.6%;
    margin-right: 1.6%;
  }
  .same-term-pager a::before {
    font-size: 16px;
  }
}